#### Imports

In [1]:
import pandas as pd

#### Explore

In [2]:
inverse_label_map = {0: 'negative', 1: 'positive', 2: 'neutral'}

In [3]:
df = pd.read_csv('./data/data.csv', names=['label', 'headline'])

In [4]:
df.head(5)

   label                                           headline
0      2  According to Gran , the company has no plans t...
1      2  Technopolis plans to develop in stages an area...
2      0  The international electronic industry company ...
3      1  With the new production plant the company woul...
4      1  According to the company 's updated strategy f...

In [5]:
df['headline'][0]

'According to Gran , the company has no plans to move all production to Russia , although that is where the company is growing .'

In [6]:
inverse_label_map[df['label'][0]]

'neutral'

In [7]:
df.shape

(4846, 2)